$color-white: #FFFFFF;
$color-gray01: #A4ADAC;
$color-gray02: #D6DBDB;
$color-gray03: #E8EDEE;
$color-gray04: #F2F6F6;
$color-black: #1D1D1B;
$color-orange: #FF5900;
$color-dark-orange: #E05D0E;
$color-error: #FF4026;