// Desktop styles
$desktop-font-size-h0: 80px;
$desktop-line-height-h0: 110%;
$desktop-letter-spacing-h0: -4%;

$desktop-font-size-h1: 32px;
$desktop-line-height-h1: 120%;
$desktop-letter-spacing-h1: normal;

$desktop-font-size-h2: 24px;
$desktop-line-height-h2: 32px;
$desktop-letter-spacing-h2: normal;

$desktop-font-size-h3: 16px;
$desktop-line-height-h3: normal;
$desktop-letter-spacing-h3: normal;

$desktop-font-size-button: 14px;
$desktop-line-height-button: 24px;
$desktop-letter-spacing-button: 0.5%;

$desktop-font-size-body1: 22px;
$desktop-line-height-body1: 32px;
$desktop-letter-spacing-body1: normal;

$desktop-font-size-body2: 18px;
$desktop-line-height-body2: 22px;
$desktop-letter-spacing-body2: normal;

$desktop-font-size-body3: 14px;
$desktop-line-height-body3: 20px;
$desktop-letter-spacing-body3: normal;

// Tablet styles
$tablet-font-size-h1: 52px;
$tablet-line-height-h1: 110%;
$tablet-letter-spacing-h1: -4%;

$tablet-font-size-h2: 28px;
$tablet-line-height-h2: 120%;
$tablet-letter-spacing-h2: normal;

$tablet-font-size-h3: 16px;
$tablet-line-height-h3: normal;
$tablet-letter-spacing-h3: normal;

$tablet-font-size-button: 14px;
$tablet-line-height-button: 24px;
$tablet-letter-spacing-button: 0.5%;

$tablet-font-size-body1: 14px;
$tablet-line-height-body1: 20px;
$tablet-letter-spacing-body1: normal;

$tablet-font-size-body2: 12px;
$tablet-line-height-body2: 16px;
$tablet-letter-spacing-body2: normal;

// Mobile styles
$mobile-font-size-h1: 36px;
$mobile-line-height-h1: 110%;
$mobile-letter-spacing-h1: -4%;

$mobile-font-size-h2: 24px;
$mobile-line-height-h2: 120%;
$mobile-letter-spacing-h2: normal;

$mobile-font-size-h3: 20px;
$mobile-line-height-h3: normal;
$mobile-letter-spacing-h3: normal;

$mobile-font-size-button: 14px;
$mobile-line-height-button: 24px;
$mobile-letter-spacing-button: 0.5%;

$mobile-font-size-body1: 16px;
$mobile-line-height-body1: normal;
$mobile-letter-spacing-body1: normal;

$mobile-font-size-body2: 14px;
$mobile-line-height-body2: normal;
$mobile-letter-spacing-body2: normal;