// Desktop styles
$desktop-font-size-h0: 80px;
$desktop-line-height-h0: 110%;
$desktop-letter-spacing-h0: -4%;

$desktop-font-size-h1: 32px;
$desktop-line-height-h1: 120%;
$desktop-letter-spacing-h1: 0%;

$desktop-font-size-h2: 24px;
$desktop-line-height-h2: 32px;
$desktop-letter-spacing-h2: 0%;

$desktop-font-size-button: 22px;
$desktop-line-height-button: 32px;
$desktop-letter-spacing-button: 0%;

$desktop-font-size-body1: 18px;
$desktop-line-height-body1: 22px;
$desktop-letter-spacing-body1: 0%;

$desktop-font-size-body2: 14px;
$desktop-line-height-body2: 20px;
$desktop-letter-spacing-body2: 0%;

// Tablet styles
$tablet-font-size-h0: 52px;
$tablet-line-height-h0: 110%;
$tablet-letter-spacing-h0: -4%;

$tablet-font-size-h1: 28px;
$tablet-line-height-h1: 120%;
$tablet-letter-spacing-h1: 0%;

$tablet-font-size-h2: 16px;
$tablet-line-height-h2: 24px;
$tablet-letter-spacing-h2: 0%;

// Mobile styles
$mobile-font-size-h0: 36px;
$mobile-line-height-h0: 110%;
$mobile-letter-spacing-h0: -4%;

$mobile-font-size-h1: 24px;
$mobile-line-height-h1: 120%;
$mobile-letter-spacing-h1: 0%;

$mobile-font-size-h2: 20px;
$mobile-line-height-h2: 120%;
$mobile-letter-spacing-h2: 0%;
