@import '../../styles/theme.scss';

.fixed {
  position: fixed;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100%;
  top: 0;
  left: 0;

  &.bg {
    background-color: $color-gray03;
  }

  &.hidden {
    transform: translateY(-100%);
  }
}

.container {
  padding: 16px 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 14px 0;

    .burger {
      z-index: 1002;
    }
  }
}