.wrapper {
  padding: 80px 0 100px 0;

  .container {
    height: 122px;
    display: flex;
    align-items: center;
    gap: 95px;

    .partners {
      display: flex;
      align-items: center;
      gap: 81px;
    }
  }
}