@import '../../styles/theme.scss';

.burger__wrapper {
  height: 44px;
  width: 44px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid $color-orange;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.active {
    gap: 0;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: '';
      width: 22px;
      height: 2px;
      background-color: $color-orange;
    }

    .burger {
      display: none;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &:not(.active) {
    gap: 6px;

    &::after,
    &::before {
      content: '';
    }

    .burger,
    &::after,
    &::before {
      width: 22px;
      height: 2px;
      background-color: $color-orange;
    }
  }
}