.wrapper {
  overflow: hidden;

  .container {
    margin: 74px 0;
    display: flex;
    gap: 172px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 80px;

      .listContainer {
        width: 497px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .list {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-left: 4px;

          .item {
            list-style-image: url('/icons/bullet.svg');

            display: flex;
            gap: 16px;
            align-items: flex-start;
          }
        }
      }
    }
  }
}