@import '../../styles/sizes.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  padding: 32px;

  @media (max-width: $table-size) {
    width: 216px;
  }

  @media (max-width: $pre-mobile-size) {
    width: 100%;
    padding: 24px;
  }

  .icon {
    padding: 4px;

    @media (max-width: $table-size) {
      padding: 3px;
    }

    img {
      width: 24px;
      height: 24px;

      @media (max-width: $table-size) {
        width: 18px;
        height: 18px;
      }
    }
  }

  &>div:first-child {
    margin-bottom: 4px;
  }
}