@import './styles/typography.scss';
@import './styles/theme.scss';
@import './styles/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
  color: $color-black;
}

html,
body {
  height: 100%;
  background-color: $color-gray03;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.object-fit-cover {
  object-fit: cover;
  -o-object-fit: cover;
}

.object-position-center {
  object-position: center;
  -o-object-position: center;
}

.object-position-top {
  object-position: top;
  -o-object-position: top;
}

.wrapper {
  padding-left: 110px;
  padding-right: 110px;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.white-background {
  background-color: $color-gray04;
}

h1 {
  font-family: 'Onest', sans-serif;
  font-weight: bold;
  font-size: $desktop-font-size-h0;
  line-height: $desktop-line-height-h0;
  letter-spacing: $desktop-letter-spacing-h0;

  @media (max-width: 1024px) {
    font-size: $tablet-font-size-h1;
    line-height: $tablet-line-height-h1;
    letter-spacing: $tablet-letter-spacing-h1;
  }

  @media (max-width: 768px) {
    font-size: $mobile-font-size-h1;
    line-height: $mobile-line-height-h1;
    letter-spacing: $mobile-letter-spacing-h1;
  }
}

h2 {
  font-family: 'Onest', sans-serif;
  font-weight: bold;
  font-size: $desktop-font-size-h1;
  line-height: $desktop-line-height-h1;
  letter-spacing: $desktop-letter-spacing-h1;

  @media (max-width: 1024px) {
    font-size: $tablet-font-size-h2;
    line-height: $tablet-line-height-h2;
    letter-spacing: $tablet-letter-spacing-h2;
  }

  @media (max-width: 768px) {
    font-size: $mobile-font-size-h2;
    line-height: $mobile-line-height-h2;
    letter-spacing: $mobile-letter-spacing-h2;
  }
}

h3 {
  font-family: 'Onest', sans-serif;
  font-weight: bold;
  font-size: $desktop-font-size-h2;
  line-height: $desktop-line-height-h2;

  @media (max-width: 1024px) {
    font-size: $tablet-font-size-h3;
    line-height: $tablet-line-height-h3;
  }

  @media (max-width: 768px) {
    font-size: $mobile-font-size-h3;
    line-height: $mobile-line-height-h3;
  }
}

.button-text {
  font-family: 'Onest', sans-serif;
  font-size: $desktop-font-size-button;
  line-height: $desktop-line-height-button;
  letter-spacing: $desktop-letter-spacing-button;

  @media (max-width: 1024px) {
    font-size: $tablet-font-size-button;
    line-height: $tablet-line-height-button;
    letter-spacing: $tablet-letter-spacing-button;
  }

  @media (max-width: 768px) {
    font-size: $mobile-font-size-button;
    line-height: $mobile-line-height-button;
    letter-spacing: $mobile-letter-spacing-button;
  }
}

.body-text-1 {
  font-family: 'Onest', sans-serif;
  font-size: $desktop-font-size-body1;
  line-height: $desktop-line-height-body1;

  @media (max-width: 1024px) {
    font-size: $tablet-font-size-body1;
    line-height: $tablet-line-height-body1;
  }

  @media (max-width: 768px) {
    font-size: $mobile-font-size-body1;
    line-height: $mobile-line-height-body1;
  }
}

.body-text-2 {
  font-family: 'Onest', sans-serif;
  font-size: $desktop-font-size-body2;
  line-height: $desktop-line-height-body2;

  @media (max-width: 1024px) {
    font-size: $tablet-font-size-body2;
    line-height: $tablet-line-height-body2;
  }

  @media (max-width: 768px) {
    font-size: $mobile-font-size-body2;
    line-height: $mobile-line-height-body2;
  }
}