@import '../../styles/typography.scss';
@import '../../styles/theme.scss';
@import '../../styles/sizes.scss';

.buttons {
  padding: 4px;
  background-color: $color-gray04;
  border-radius: 14px;
  display: flex;
  width: 100%;

  .item {
    color: $color-gray01;
    padding: 10px;
    max-width: 276px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;

    @media (max-width: 700px) {
      max-width: 276px;
    }

    @media (max-width: $mobile-size) {
      max-width: none;
    }

    &.active {
      background-color: $color-black;
      color: $color-white;
      cursor: default;
    }

    &:not(.active) {
      cursor: pointer;
    }

  }
}