@import '../../styles/sizes.scss';

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 100px;

  @media (max-width: $table-size) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-size) {
    margin-top: 10px;
    margin-bottom: 38px;
  }

  .text {
    width: 100%;
    max-width: 460px;

    @media (max-width: $table-size) {
      width: 275px;
    }
  }
}