@import '../../styles/sizes.scss';

.container {
  width: 560px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (max-width: $table-size) {
    gap: 16px;
    width: 334px;
  }

  @media (max-width: 700px) {
    width: 100%;
  }
}