@import '../../styles/theme.scss';
@import '../../styles/sizes.scss';

$blur-height: 80px;

.container {
  background-image: url('/images/blue-glass-shapes-composition-3d-rendering 1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;

  .content {
    margin-top: 204px;
    margin-bottom: 135px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: $table-size) {
      gap: 62px;
      margin-bottom: 40px;
    }

    @media (max-width: $mobile-size) {
      gap: 112px;
      margin-top: 113px;
      margin-bottom: 40px;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .addition {
        width: 100%;
        max-width: 626px;
        font-weight: normal;
      }
    }

    .button {
      width: fit-content;

      @media (max-width: $table-size) {
        width: 100%;
      }
    }
  }

  .blur {
    width: 100%;
    height: $blur-height;
    background-color: $color-gray03;
    filter: blur(20px);
  }
}