.container {
  background-image: url('/images/blue-glass-shapes-composition-3d-rendering 1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .content {
    margin-top: 204px;
    margin-bottom: 233px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .addition {
        width: 100%;
        max-width: 626px;
      }
    }
  }
}